@model List<ALS.Models.Category.CategoryListingModel>

@{
    ViewBag.Title = "List";
}

<div class="col-lg-3 col-md-3 col-sm-4">
    <div class="list-group table-of-contents">
        <p style="list-group-item">Categories</p>
        @foreach (var category in Model)
        {           
            @Html.ActionLink($"{category.Name} ({category.AdsNumber})" , "List", "Ad", new { @id = category.Id }, new {@class="list-group-item"})
        }
    </div>
</div>


