@model IEnumerable<ALS.Models.Ad.AdListingModel>

@{
    ViewBag.Title = "List";
}

@foreach (var ad in Model)
{
    <div class="row ">
        <div class="col-md-6">
            <img src="@ad.MainPicture.FilePath"  width="500" class="img-responsive" />
        </div>
        <div class="col-md-6">
            <h2>@ad.Title</h2>
            <h4>Price: @ad.Price</h4>
            <a class="btn btn-default" href="/Ad/Details/@ad.Id">Details</a>
        </div>
    </div>
}
